*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
  
}
html{
    font-size: 18px;

}
a{
    text-decoration: none;
    color: #008080;
}
header{
    position: relative;
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #008080;
    font-family: sans-serif;
    font-weight: 600;
}
header h1{
    background: #008080;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h3{
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid #008080;
    color: #008080;

}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
    list-style-type: none;
}
header ul a{
    padding: 1rem;
    display: inline-block;
}
.logo{
    padding: 1rem;
    font-weight: bold;
}
a:hover{
    background-color: #008080;
    color: #fff;
}
.active{
    background-color: #053a3a;
    color: #fff;
}
.backGround{
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url('../images/dash.jpg');
    height: 69vh;
}
.backGround p{
   padding-top: 100px;
   padding-right: 100px;
    text-align: center;
   color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.backGround h3{
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background: rgb(1, 1, 46);
    padding: 1rem;
    display: inline-block;
    margin-left: 660px;
    justify-content: center;
    font-weight: 1500;
    font-size: 50px;
}
.backGround h4{
    color:#fff;
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}
.whiteText{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 170px;
    font-size: 40px;
}
footer{
    background: #008080;
    color: #fff;
   height: 5vh;
   padding-left: 10px;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}